#!/bin/bash

JBOSS_VERSION=7.0
JBOSS_DIR=jboss-eap-$JBOSS_VERSION

jboss-6-7-config() {
  JBOSS_ZIP=$JBOSS_DIR.0.zip
  JBOSS_BIN_DIR=bin
  JBOSS_START_SCRIPT=standalone.sh
  JBOSS_DEPLOY_DIR=standalone/deployments
}

jboss-7.0-config() {
  jboss-6-7-config
}

jboss-6.4-config() {
  jboss-6-7-config
}

jboss-5.2-config() {
  JBOSS_ZIP=$JBOSS_DIR.0.zip
  JBOSS_BIN_DIR=jboss-as/bin
  JBOSS_START_SCRIPT=run.sh
  JBOSS_DEPLOY_DIR=jboss-as/server/default/deploy
}

jboss-$JBOSS_VERSION-config
