#!/bin/bash

#JBOSS_NAME=jboss-eap
JBOSS_NAME=rh-sso

case "$JBOSS_NAME" in
  jboss-eap)
    JBOSS_VERSION=${JBOSS_VERSION:-7.0}
    ;;
  rh-sso)
    JBOSS_VERSION=${JBOSS_VERSION:-7.1}
    ;;
esac

PASSWORD_SUFFIX="-xpt03!2"
JBOSS_DIR=$JBOSS_NAME-$JBOSS_VERSION
JBOSS_USER=jboss
JBOSS_GROUP=$JBOSS_USER
JBOSS_INSTALL_DIR=/opt
JBOSS_ADMIN_USER=jbadmin
JBOSS_ADMIN_PASSWORD="${JBOSS_ADMIN_USER}${PASSWORD_SUFFIX}"
JBOSS_BIND_ADDRESS=0.0.0.0
JBOSS_BIND_ADDRESS_MANAGEMENT=0.0.0.0
JBOSS_ZIP=$JBOSS_DIR.0.zip
JBOSS_CONFIGURED_ZIP=`basename $JBOSS_ZIP .zip`.configured.zip

ORACLE_DRIVER=../oracle-jdbc-drivers/ojdbc7.jar

jboss-config-jboss-eap-common-6-7() {
  JBOSS_BIN_DIR=bin
  JBOSS_START_SCRIPT=standalone.sh
  JBOSS_DEPLOY_DIR=standalone/deployments
}

jboss-config-rh-sso-7.1() {
  jboss-config-jboss-eap-common-6-7
  RH_SSO_ADMIN_USER=rh-sso-admin
  RH_SSO_ADMIN_PASSWORD="${RH_SSO_ADMIN_USER}${PASSWORD_SUFFIX}"
}

jboss-config-jboss-eap-7.0() {
  jboss-config-jboss-eap-common-6-7
  JBOSS_PATCHES[1]=jboss-eap-7.0.5-patch.zip
}

jboss-config-jboss-eap-6.4() {
  jboss-config-jboss-eap-common-6-7

  case $OSTYPE in
    linux*) # assuming that we are on RHEL7
      # JBoss EAP 6.4 - Install Native Components and Native Utilities: http://red.ht/2mh3cvi
      JBOSS_NATIVE_COMPONENTS_ZIP=jboss-eap-native-6.4.0-RHEL7-x86_64.zip;;
  esac

  # Patches from 10 to 14 requires JBoss EAP Update 09 applied (http://red.ht/2mXgFoR)
  # JBoss EAP 6.4.9 patches
  JBOSS_PATCHES[1]=jboss-eap-6.4.9-patch.zip
  JBOSS_PATCHES[2]=BZ-1358913.zip
  # JBoss EAP 6.4.14 patch
  JBOSS_PATCHES[3]=jboss-eap-6.4.14-patch.zip
}

jboss-config-jboss-eap-5.2() {
  JBOSS_BIN_DIR=jboss-as/bin
  JBOSS_START_SCRIPT=run.sh
  JBOSS_DEPLOY_DIR=jboss-as/server/default/deploy
}

jboss-config-$JBOSS_NAME-$JBOSS_VERSION

# vim: set ts=2 sw=2 et:
